/*fuente personalizada*/
/*{font-family: 'monserat'}*/

.bg-primary{
    background-color: rgb(184, 124, 13) !important;
}
.rouned-circle{
    border-radius: 50200;
}
.progress{
    background-color: rgb(211, 211, 211);
    
}
.text-primary{
    color: #3498db !important;
}
/*efecto hover*/
.card{
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px black;
}